## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Pisco,-13.7000,-76.2167,67.01,88,0,16.11,PE,clear sky
1,1,Almaznyy,48.0448,40.0450,39.18,84,14,8.19,RU,few clouds
2,2,Mataura,-46.1927,168.8643,56.25,44,40,5.50,NZ,scattered clouds
3,3,Hithadhoo,-0.6000,73.0833,82.22,66,0,1.39,MV,clear sky
4,4,Ushuaia,-54.8000,-68.3000,38.86,70,40,14.97,AR,scattered clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# input statements 
min_temp = float(input("What is the minimum temperature you would like for your trip?")) 
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_temps_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_temps_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Pisco,-13.7000,-76.2167,67.01,88,0,16.11,PE,clear sky
2,2,Mataura,-46.1927,168.8643,56.25,44,40,5.50,NZ,scattered clouds
3,3,Hithadhoo,-0.6000,73.0833,82.22,66,0,1.39,MV,clear sky
5,5,Nortelandia,-14.4547,-56.8028,76.42,78,42,0.85,BR,scattered clouds
6,6,Saint George,37.1041,-113.5841,64.99,10,0,21.85,US,clear sky
9,9,Busselton,-33.6500,115.3333,75.04,43,58,10.33,AU,broken clouds
10,10,Qujing,25.4833,103.7833,57.94,41,70,4.00,CN,broken clouds
11,11,Cape Town,-33.9258,18.4232,55.11,83,40,2.30,ZA,scattered clouds
12,12,Sao Filipe,14.8961,-24.4956,70.75,77,5,10.09,CV,clear sky
13,13,Vaini,-21.2000,-175.2000,82.56,83,75,8.05,TO,broken clouds

In [31]:
# 4a. Determine if there are any empty rows.
preferred_temps_df.count()

City_ID                478
City                   478
Lat                    478
Lng                    478
Max Temp               478
Humidity               478
Cloudiness             478
Wind Speed             478
Country                474
Current Description    478
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#nonefound

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_temps_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Pisco,PE,67.01,clear sky,-13.7000,-76.2167,
2,Mataura,NZ,56.25,scattered clouds,-46.1927,168.8643,
3,Hithadhoo,MV,82.22,clear sky,-0.6000,73.0833,
5,Nortelandia,BR,76.42,scattered clouds,-14.4547,-56.8028,
6,Saint George,US,64.99,clear sky,37.1041,-113.5841,
9,Busselton,AU,75.04,broken clouds,-33.6500,115.3333,
10,Qujing,CN,57.94,broken clouds,25.4833,103.7833,
11,Cape Town,ZA,55.11,scattered clouds,-33.9258,18.4232,
12,Sao Filipe,CV,70.75,clear sky,14.8961,-24.4956,
13,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,

In [52]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Pisco,PE,67.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
2,Mataura,NZ,56.25,scattered clouds,-46.1927,168.8643,Ellie's Villa
3,Hithadhoo,MV,82.22,clear sky,-0.6000,73.0833,Scoop Guest House
5,Nortelandia,BR,76.42,scattered clouds,-14.4547,-56.8028,Hotel Karysmã
6,Saint George,US,64.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
...,...,...,...,...,...,...,...
697,Dzaoudzi,YT,78.69,clear sky,-12.7887,45.2699,Le Rocher
698,El Alto,PE,71.55,few clouds,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
699,Changji,CN,72.39,clear sky,44.0167,87.3167,Lvye Holiday Resort
702,Lima,PE,72.90,scattered clouds,-12.0432,-77.0282,Hotel Kamana
703,Piranshahr,IR,52.30,overcast clouds,36.7010,45.1413,مسافر خانه سعدی

In [59]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Pisco,PE,67.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
2,Mataura,NZ,56.25,scattered clouds,-46.1927,168.8643,Ellie's Villa
3,Hithadhoo,MV,82.22,clear sky,-0.6000,73.0833,Scoop Guest House
5,Nortelandia,BR,76.42,scattered clouds,-14.4547,-56.8028,Hotel Karysmã
6,Saint George,US,64.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
...,...,...,...,...,...,...,...
697,Dzaoudzi,YT,78.69,clear sky,-12.7887,45.2699,Le Rocher
698,El Alto,PE,71.55,few clouds,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
699,Changji,CN,72.39,clear sky,44.0167,87.3167,Lvye Holiday Resort
702,Lima,PE,72.90,scattered clouds,-12.0432,-77.0282,Hotel Kamana
703,Piranshahr,IR,52.30,overcast clouds,36.7010,45.1413,مسافر خانه سعدی

In [60]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [61]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
    
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map. 
# Add a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))